fastapi
uvicorn[standard]
gunicorn
jinja2
python-multipart
dnspython
tldextract
python-Levenshtein
redis
pydantic
PyJWT
aiofiles

httpx==0.28.1
aiohttp==3.12.2
tenacity==9.1.2
cachetools==6.0.0
cryptography==45.0.2
email-validator==2.2.0
prometheus-client==0.22.1
orjson==3.10.18
uvloop==0.21.0
pydantic-settings==2.11.0

python-json-logger==3.2.1
structlog==25.4.0
