# Dummy/demo values only
VT_API_KEY=your_virustotal_api_key_here

SECRET_KEY=change_this_secret_before_production

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60

ENVIRONMENT=development

PYTHONPATH=/app

LOG_LEVEL=INFO

REDIS_HOST=redis

REDIS_PORT=6379
